/* line 13, for.scss */
body.page-1 {
  background: #F7E900;
}

/* line 13, for.scss */
body.page-2 {
  background: #FF5F09;
}

/* line 13, for.scss */
body.page-3 {
  background: #A0005E;
}

/* line 13, for.scss */
body.page-4 {
  background: #41004B;
}

/* line 20, for.scss */
body.section-1 {
  background: #F7E900;
}

/* line 20, for.scss */
body.section-2 {
  background: #FF5F09;
}

/* line 20, for.scss */
body.section-3 {
  background: #A0005E;
}

/* line 20, for.scss */
body.section-4 {
  background: #41004B;
}
