/* line 13, ifelse.scss */
.title1 {
  font-family: 'Avenir-Demi';
  font-weight: bold;
}

/* line 17, ifelse.scss */
.title2 {
  font-family: 'Avenir-LightItal';
}

/* line 20, ifelse.scss */
.title3 {
  font-family: 'Avenir-Light';
}
