/* line 7, mixin.scss */
.navbar ul.menu {
  list-style: none;
}
/* line 10, mixin.scss */
.navbar ul.menu li {
  padding: 5px;
}
/* line 13, mixin.scss */
.navbar ul.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
}
