#draggable { 
			width: 100px; 
			height: 40px; 
			padding: 0.5em; 
			float: left; 
			margin: 10px 10px 10px 0; 
		}
		#droppable, #droppable2 { 
			width: 230px; 
			height: 120px; 
			padding: 0.5em; 
			float: left; 
			margin: 10px; 
		}
		#droppable-inner, #droppable2-inner { 
			width: 170px; 
			height: 60px; 
			padding: 0.5em; 
			float: left; 
			margin: 10px; 
		}
		#droppable.active,#droppable-inner.active,#droppable2.active,#droppable2-inner.active{
			background: blue;
		}
		#droppable.hover,#droppable-inner.hover,#droppable2.hover,#droppable2-inner.hover{
			background: yellow;
		}
		#droppable.background-red,#droppable-inner.background-red,#droppable2.background-red,#droppable2-inner.background-red{
			background: red;
		}